body{ 
	background-image: url("../img/phoebe_winnie.jpeg");
	background-size: 300px;
	background-attachment: fixed;
	background-position: 0 150px;
/*	background-size: 100%;*/
}


.username{
	color: red;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;

}

.timestamp{
	font-family: 'Dosis', sans-serif;
	font-size: 8px;
	
}
.message{
	font-family: 'Dosis', sans-serif;
		
}

#inputs {
	float: left;
	width: 400px;
}

header div {
	float: left;
	
}

#chat-view{
	margin-top: 180px;
	background: rgba(255,255,255, .8);
	width: 75%;
	min-width: 400px;
}

#chat-view ul li {
	max-width: 700px;
}

li {
	list-style-type: none;         
}
header{ 
	background-color: white; 
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'Dosis', sans-serif;
	padding: 0 0 5px 40px;
}

header h1 {
	line-height: 10px;
	margin-top: 30px;
}


#username-input h3, #body-input h3{
line-height: 5px;
}



#textarea {
	width: 800px;
	height: 20px;
}

#reset {
	float: left;
}

#topstuff {
	width: 200px;
}

@media only screen (max-width: 600px) {
	#chat-view {
		margin-top: 280px;
		width: 100%;
	}
	#chat-view ul li {
		max-width: 90%;
	}

}
