body{ 
	background-image: url("../img/jen_bunny.png");
	background-size: 300px;
	background-attachment: fixed;
	background-position: 0 150px;

	background-color: lightsalmon;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s;
}

body:hover {
	background-color: springgreen;
}

.username{
	color: red;
	font-size: 1.2em;
	font-family: 'Dosis', sans-serif;

}

.timestamp{
	font-family: 'Dosis', sans-serif;
	font-size: .8em;
	
}
.message{
	font-family: 'Dosis', sans-serif;
	width: 70%;
}

#message-submit{
	margin-bottom: 10px;
}

#inputs {
	float: left;
	width: 400px;
}

header div {
	float: left;
}

#chat-view{
	background: rgba(255,255,255, .8);
	width: 75%;
	min-width: 400px;
}

#chat-view ul {
	width: 100%;
}

#chat-view ul li {
	max-width: 700px; 
	width: 95% 
}

li {
	list-style-type: none;       
}

header{ 
	background-color: white; 
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'Dosis', sans-serif;
	padding: 0 0 5px 20px;
}

header h1 {
	line-height: .2em;
	margin-top: 30px;
}
/*
#username-input {
	height: 4em;
}
*/

#username-input h3, #body-input h3{
line-height: 5px;
}

#reset {
	float: left;
}

#topstuff {
	width: 200px;
}

#buffer {
	width: 100%;
	height: 145px;
}

#buffer.set-name {
	height: 75px;
}

#baby-body {

}

@media screen and (max-width : 600px) {
	#buffer {
		height: 225px;
	}
	#buffer.set-name {
		height: 170px;
	}
	#username-input h3, #body-input h3{
		font-size: 1em;
		line-height: 0;
	}

	#chat-view {
		width: 100%;
		min-width: 0;
		overflow-x: hidden;
	}
	#chat-view ul {
		margin: 0;
		padding: 0 10px;
	}
	#chat-view ul li {
		max-width: 90%;
	}

	#body-input textarea, #body-input input, #reset-button {
		display: block;
	}
}
