<!DOCTYPE html>
<html x-ng-app="BabyApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css' />
		<title>Baby Chat!</title>
		<!-- Angular -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-sanitize.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<!-- Angular Fire -->
  	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  	<!-- My own janky code -->
  	<script src="js/database.js"></script>
		<script src="js/app.js"></script>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body x-ng-controller="BabyCtrl">
		<header>
			<div id="topstuff">
				<h1>{{chatroomName}}</h1>
				<div id="reset">
					<input type="button" x-ng-click="chatReset();" value="Reset chatroom foreverrrr" />
				</div>
			</div>
			<div id = "inputs">
				<div id="username-input">
					<div x-ng-hide="nameIsSet">
						<h3>Username:</h3>
						<input type="text" x-ng-model="username" />
						<input type="button" x-ng-click="setUsername();" value="Set username" />
					</div>
<!-- 					<input id="reset-button" type="button" x-ng-click="resetName();" value="Reset Name" x-ng-show="nameIsSet"/> -->
				</div>
				<div id="body-input">
					<h3>Body:</h3>
					<textarea rows="4" cols="45" x-ng-model="message" x-ng-keypress="addMessage();"></textarea>
					<input type="button" x-ng-click="addMessage();" value="Chat it up!" />
				</div>
			</div>
		</header>
		
		<div id="buffer" x-ng-class="{ 'set-name' : nameIsSet }"></div>
		<div id="chat-view">
			<ul>
				<li class="chat-entry" x-ng-repeat="c in chat">
					<span class="timestamp">({{c.timestamp | date:'h:mma'}})</span> 
					<span class="username">{{c.username}}:</span> 
					<span class="message" x-ng-bind-html="c.message | linky:'_blank'">{{c.message}}</span>
				</li>
			</ul>
		</div>
		<footer>
		</footer>
	</body>
</html>