.username{
	color: red;
}
.timestamp{}
.message{}

header div {
	float: left;
}
header div div {
	float: none;
}

#chat-view{
	margin-top: 270px;
}
header{ 
	background-color: white; 
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
}